.post-box {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(165, 180, 181, 0.5);
    padding: 20px 0 20px 0;
}

.post-box .ant-divider-inner-text {
    font-size: 20px;
    color: #7f7f7f;
}

.post-box .color-black .ant-divider-inner-text {
    font-weight: 600;
    color: #3e3e3e;
}

.post-box .anticon {
    margin-right: 7px;
}

.post-box .post-list-item {
    position: relative;
    display: block;
    width: 90%;
    height: 360px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 3px 3px 2px #d3d3d3;
    overflow: hidden;
    color: black;
}

.post-list-item .item-left {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    left: 0;
}

.post-list-item .item-right {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    height: 100%;
    right: 0;
}

.post-list-item .ant-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.post-list-item .ant-image img {
    display: block;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.post-list-item:hover .ant-image img {
    transform: scale(1.05);
}

.post-list-item .text-box {
    padding: 20px 5px 0 20px;
}

.post-list-item:hover .text-box {
    background-color: #f3f3f3;
}

.post-list-item .text-box h2 {
    font-size: 2.5em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-list-item:hover .text-box h2 {
    color: #00c3ff;
}

.post-list-item .info-card {
    margin-top: 10px;
}

.post-list-item .text-box .info-card li {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 20px;
    color: black;
}

.post-list-item .text-box .post-content-box {
    width: 100%;
    height: 180px;
    padding: 20px 20px 10px 0;
    font-size: 1.4em;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #6b6b6b;
}

.post-list-item .date-box {
    margin-top: 20px;
    font-size: 1.3em;
}

.mr35 {
    margin-right: 35px;
}